body {
  background: url('asset/library-pic.jpg') no-repeat;
  background-size: cover;
}

.add-btn {
  width: 25%;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  position: relative;
  width: 600px;
  height: 600px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 34px 104px rgba(0, 0, 0, 0.25);
}

.icons {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
}

.icons:hover {
  transform: scale(1.25) translateY(-4px);
  transition: 0.4s ease-out;
}

.close {
  background: transparent;
  border: 0;
}

.shelf {
  justify-content: center;
}

.new-book {
  min-width: 250px;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .add-btn {
    width: 100%;
  }

  .overlay-inner {
    width: 90%;
    height: 80vh;
  }

  .shelf {
    align-items: center;
  }

  .new-book {
    width: 90%;
    margin: auto;
  }
}
